

{% extends 'base.html' %}




{% block content %}
EXErCise :D, {{ user.username|default:'Guest' }}!
<hr>
Available Exercises
<table border="1">
	<tr><td>id</td><td>name</td><td>details</td><td>File</td><td></td></tr>
{% for exercise in exercises %}
<tr>
	<td>{{exercise.id}}</td>
	<td>{{exercise.name}}</td>
	<td>{{exercise.details}}</td>
	<td><a href="../download/{{exercise.exFile}}">download file</a></td>
	<td><a href="/submitedexercise/sendExercise/{{exercise.id}}">Post Exercise</a></td>

</tr>
{% endfor %}
</table>
<hr>

<table border="1">
	<tr><td>id</td><td>number</td><td>details</td><td>File</td><td>score</td></tr>
{% for se in submitedExercise %}
<tr>
	<td>{{se.id}}</td>
	<td>{{se.submitBy.studentNumber}}</td>
	<td>{{se.details}}</td>
	<td><a href="../download/{{se.file}}">download file</a></td>
	<td>{{se.score}}</td>

</tr>
{% endfor %}
</table>



<table border="1">
	<tr><td>id</td><td>number</td><td>details</td><td>File</td><td>score</td></tr>
{% for se in submitedExercise %}
<tr>
	<td>{{se.id}}</td>
	<td>{{se.submitBy.studentNumber}}</td>
	<td>{{se.details}}</td>
	<td><a href="../download/{{se.file}}">download file</a></td>
	<td>
		<form method = 'POST' enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" id="id_exe" name="exeId" value="{{se.id}}">
			<input value="{{se.score}}" type="text" name="details" maxlength="300" required id="id_details">
			<button type="submit" class="btn btn-lg btn-warning">Submit</button>
		</form>
	
	</td>

</tr>
{% endfor %}
</table>


{% endblock %}



